<div class="container">
    <img class="bg"src="https://www.michaelpage.es/sites/michaelpage.es/files/styles/advice_node_desktop/public/2021-11/Full%20Stack%20Developer.jpg?itok=mciNzA6q">
    <div class="card">
       <div id="info">
          <h1>Cursos</h1> 
          <hr>
          <br>
          <p><b>Cerificado de Soporte de TI de Google</b> Octubre 2022 - Enero 2023</p>
          <p><b>Cerificado Project managment de Google </b> Enero 2022 - Actualidad </p>
          <p><b>Emotiional Intelligence for software Engineer and Dveelopers</b>Septiembre 2023</p>
          <p><b>Lean Agile Leadership</b> Septeimbre 2022</p>
          <p><b>SCRUM certification course</b>Octubre 2022</p>
          
       </div>
       <div id="footer">
          -
       </div>
       
    </div>
 </div>
 
 