<script>
    new Vue({
    el: '#app',
    data() {
        return {  // array to show the data
        articles: []
        }
    },
    mounted() { 
        axios.get('https://newsapi.org/v2/top-headlines?sources=the-hindu&apiKey=f4e87c87e9b54704aeaeea76a74efd88').then((response) => {
    this.articles = response.data.articles;
    console.log(this.articles)
        })
    }
    })
</script>

<div class="abc">
 <section v-for="article in articles" class="container">
    <a :href="article.url> {{ article.title }}</a>
    <img :src="article.urlToImage">
    <strong>{{article.author}}</strong>
            {{ article.description }}
    <strong>{{article.publishedAt}}</strong>
 </section>
</div>