<div class="square">
                <br><h2 align="center" id="hobbies">HOBBIES</h2><br>
                <div class="columna-25 columna-tablet-80 columna-mobile-50">
                    <img src="/output/images/viajes.jpg" border="8" alt="Viajar">
                </div>
                <div class="columna-25 columna-tablet-80 columna-mobile-50">
                    <img src="/output/images/hiking.jpg" border="8" alt="Hiking">
                </div>
                <div class="columna-25 columna-tablet-80 columna-mobile-50">
                    <img src="/output/images/basket.jpg" border="8" alt="Jugar Basket">
                </div>
            </div>
            <div class="square">
                <div class="text">
                    <p class="fleft"><b>-----------</b>Viajar y explorar<b>-----------</b></p>
                    <p class="fleft inv">-------</p>
                    <p class="fleft"><b>-----------</b>Hiking<b>-----------</b></p>  
                    <p class="fleft inv">---------</p>
                    <p class="fleft"><b>-----------</b>Jugar Basket<b>-----------</b></p> 
                </div>  
            </div>
</div>