<div class="square">
                <br><h2 align="center" id="work">EXPERIENCIA LABORAL</h2><br>
                <div class="columna-25 columna-tablet-80 columna-mobile-50">
                    <img class="circular--square " src="/output/images/bpmit.png" />
                </div>
                <h3>BPMIT</h3>
                <p>Soporte técnico en la empresa BPMIT la cual se especializaba en implementar sistemas de ERP a empresas de cualquier tamaño, donde estuve dando soporte a los clientes en su sistema ERP Odoo implementado, así como también estuve involucrado en levantamiento de necesidades para determinar el sistema que al cliente le ayudaría a eficientar sus procesos y gastos.</p>
            
            </div>
            <br>
            <div class="square">
                <div class="columna-25 columna-tablet-80 columna-mobile-50">
                    <img class="circular--square" src="/output/images/sunbank.png" />
                </div>
                <h3>SUNBANK</h3>
                <p>Gerente de proyectos de TI donde mi trabajo principal es liderar y trabjar en proyectos tecnológicos que impulsen a la empresa en la automatización de sus procesos y el ahorro de recursos económicos, así como la constante busqueda de herramientas tecnológicas que apoyen en las situaciones anteriores.

                    Proyectos Liderados:
                    -Chatbot: proyecto realizado mediante SCRUM para la eficiencia del servicio y procesos de atención al cliente.
                    -Generador de reportes de Ahorro: Desarrollo de una aplicación en Python que se conecta a una base de datos en la nube mediante una API y extrae información para generar reportes de ahorro de energía en un formato PDF y enviandolos de manera automática a sus respectivos usuarios.
                    -Implementación de ERP Odoo: Donde realicé un analisis de procesos de la empresa y sus herramientas tecnológicas implementadas para determinar el tipo de sistema que ayudaría. Implementación de Odoo ERP, para la eficiencia de los procesos así como también desarrollos personalizados a modulos.</p>
                </div>
            </div>
</div>