
<div class="container">
    <img class="bg"src="https://www.michaelpage.es/sites/michaelpage.es/files/styles/advice_node_desktop/public/2021-11/Full%20Stack%20Developer.jpg?itok=mciNzA6q">
    <div class="card">
       <div id="info">
          <b style="font-size: 30px;">Información de contacto</b>
          <br>
          <hr>
          <br>
          <br>
         <p><b>Correo:</b><a href="mailto:sebastian.vallejo@sunbank.mx">sebastian.vallejo@sunbank.mx</a></p>
          <p><b>Telefono: </b> 3321860328</p>
          <p><b>Dirección: </b> Avenida Vallarta 6503, 45010 Zapopan, Jalisco, Mexico.</p>
          <br>
          <br>
          <br>
          <ul>
            <li><a href="https://www.instagram.com/sebasvalllejo/" target="_blank"><img src="../../../assets/insta.png" alt="Instagram"></a></li>
            <li><a href="https://www.linkedin.com/in/oscar-sebastian-vallejo-casta%C3%B1eda-2b774b23a/" target="_blank"><img src="../../../assets/link.png" alt="Linkedin"></a></li>
            <li><a href="https://www.facebook.com/chevy.vallejocastaneda" target="_blank"><img src="../../../assets/facebook.png" alt="Facebook"></a></li>
          </ul>
          
       </div>
       <div id="footer">
          -
       </div>
       
    </div>
 </div>
 
 