<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/output/css/estilos.css"> <!-- Funciona gracias al middleware que utiliza el express.static  -->
</head>
<body>
 <header>
<div class="square">
    <div class="text"></div>
        <h1 align = center>PÁGINA DE PRESENTACIÓN</h1>
        <h3 align = center>POR SEBASTIAN VALLEJO</h3>
        <menu align="center">
            <a href="/?token=123">Inicio</a>
            <a href="/hobbies?token=123">Hobbies</a>
            <a href="/info?token=123">Info</a>
            <a href="/work?token=123">Trabajo</a>
    
         </menu>
    </div>
</div>
</header>
    {{{body}}}

  <footer align="center">
            <a class= "same-line" href="https://www.instagram.com/sebasvalllejo/"  >Instagram</a>
                <p class= "same-line inv" >--</p>
                <a class= "same-line" href="https://www.linkedin.com/in/oscar-sebastian-vallejo-casta%C3%B1eda-2b774b23a/" >Linkedin</a>
                <p class= "same-line inv" >--</p>
                <a class= "same-line" >Telefono: 3321860328</a>
        </footer>
</body>
</html>