<div class="container">
   <img class="bg"src="https://www.michaelpage.es/sites/michaelpage.es/files/styles/advice_node_desktop/public/2021-11/Full%20Stack%20Developer.jpg?itok=mciNzA6q">
   <div class="card">
      <div id="info">
         <h1>Educación</h1> 
         <hr>
         <br>
         <b>Universidad: Agosto 2020 - Diciembre 2024 </b>
         <p>Ingenieria en sistemas computacionales en ITESO</p>
         <b>Preparatoria: Agosto 2017  -  Mayo 2020 </b>
         <p>Preparatoria TecMilenio</p>
         
      </div>
      <div id="footer">
         -
      </div>
      
   </div>
</div>

