<div class="container">
    <img class="bg"src="https://www.michaelpage.es/sites/michaelpage.es/files/styles/advice_node_desktop/public/2021-11/Full%20Stack%20Developer.jpg?itok=mciNzA6q">
    <div class="card">
       <div id="info">
          <h1>Proyectos</h1> 

          <b>Implementaciónd de Odoo ERP </b>
          <p>Implemente el ERP de odoo en Sunbank para la automatización de procesos, la centraización de la información y la conectividad entre todos los departamentos </p>

          <b>Generador de reportes</b>
          <p>Desarrolle un agortimo en sunbank con python el cual se encarga de tomar información de una base de datos en gsheets para generar reportes de ahorro y enviarlos
            de manera mensual a los clientes sunbank
          </p>

          <b>TodoList</b>
          <p>Desarrolle de sitio web para generar listas de pendientes y poder tener un control sobre tiempos y actividades mucho mas organizado
          </p>

          <b>Modulo de cobranza</b>
          <p>Desarrolle en Odoo un modulo desde 0 el cual esta diseñado para facilitar al area de cobranza en Sunbank la visualización de los saldos por pagar de los clientes, 
            las fechas de vencimiento de las facturas, los datos de contacto y KPIs importantes para este departamento
          </p>


          
       </div>
       <div id="footer">
          -
       </div>
       
    </div>
 </div>
 
 